@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Commic Book Detail";
    
}


    <div>
        <h1>@ViewBag.Message</h1>
        <h1>@ViewBag.SeriesTitle</h1>

        <h3>Issue #@ViewBag.IssueNumber</h3> 
        <h3> @Html.Raw(ViewBag.Description)</h3>

            <h2>Artists:</h2>

            @if (ViewBag.Artists.Length > 0)
            {
        <ul>
                @foreach (var artist in ViewBag.Artists)
                {
                    <li>@artist</li>
                }
        </ul>
            }
    </div>
