@{
    Layout = null;

   

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>@ViewBag.Message</h1>
    <h1>@ViewBag.SeriesTitle</h1>
    <ul>Issue #@ViewBag.IssueNumber</ul> 
    <ul> @Html.Raw(ViewBag.Description)</ul>

        <h3>Artists:</h3>
        @if(ViewBag.Artists.Length > 0)
        {
<ul>
            @foreach (var artist in ViewBag.Artists)
            {
                <li>@artist</li>
            }
    </ul>
        }
    </div>
</body>
</html>
