@model CommicBookGallery.Models.CommicBook[]
@{
    ViewBag.Title = "Commic Book List";
}

<h2>@ViewBag.Title</h2>



<div class="row">   
    @foreach (var commicBook in Model)
    {
        <div class="col-md-3">
            <h4>@Html.ActionLink(commicBook.DisplayText,"Details",
               new {id=commicBook.Id })</h4>

            <a href="@Url.Action("Details", new { id = commicBook.Id })">
            <img src="/Images/@commicBook.CoverImage"
                 alt="@commicBook.DisplayText"
                 class="img-responsive" /> 
            </a>
        </div>
    }

   
</div>
